<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home</title>
</head>
<body>

    <p class="logout"><a href="/logout">Logout</a></p>
    <div class="main-admin-container">
        

        <h2>Welcome back, {{ session.name }}</h2>

        <h3>Get your Fortune</h3>
        <div id="get-fortune-box"> 
            
            <form id="post-fortune-form" action="get_fortune" method="GET" >
                <button id="get-fortune-btn" type="submit"></button>
            </form>


        </div>
        


        {% if data.fortune %}
        
        <div class="send-text-container">
            <h2> Here is your fortune </h2>
            <form id="call-form" action="send_sms" method="POST" > 
                <h1> {{ data.fortune }} </h1>
                <p>Send Fortune to:</p>
                <input name="tel-input" type="tel" placeholder="555-555-5555">
                <input type="hidden" name="fortune-sms" value= "{{ data.fortune }}" >
                <button type="submit">Send</button>
    
            </form>

        </div>

        {% endif %}



    </div>
    
    

     



</body>
</html>