<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <h3>Welcome back, {{ data.name}}</h3>

    <h3>Ger your Fortune</h3>
    <hr/>
    <form id="post-fortune-form" action="get_fortune" method="GET" >
        <button id="get-fortune-btn" type="submit">Oh wise one, What does the future hold?</button>
    </form>
   

    {% if data.fortune %}

    <h2> Here is your fortune </h2>

    <h3> {{ data.fortune }} </h3>

    {% endif %}

     



</body>
</html>